# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
venv.bak/
.venv/

# VS Code
.vscode/
*.code-workspace

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
*.mo
*.pot
*.pyc
*.pyo
*.pyd

# Test logs
tests/.pytest_cache
tests/.pytest_cache/

# Django stuff:
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Local and history
.history/
*.swp
*.swo
